.container {
  position: relative;
  padding: 1.25rem 0;
  cursor: pointer;
  border-radius: 0.625rem;
  font-size: var(--text-base);
  line-height: var(--leading-tight);
}

.container:hover {
  background: var(--gray-100);
}

.container:focus {
  outline: none;
  box-shadow: var(--focus-ring);
}

.container_isSelected {
  background: var(--gray-200) !important;
}

.container > * {
  padding-left: 2rem;
  padding-right: 1rem;
}

.name {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 0.5rem;
  font-size: var(--text-base);
}

.icon {
  margin-right: 0.5rem;
  color: var(--gray-500);
  font-size: 1rem;
}

.container_ACTIVE .icon,
.container_ANY_ACTIVE .icon {
  color: var(--green-500);
}

.container_ANY_CLOSED .icon,
.container_CLOSED .icon,
.container_DISABLED .icon {
  color: var(--red-500);
}

.id,
.status {
  color: var(--text-secondary-color);
  font-size: var(--text-sm);
}

.id {
  margin-top: 0.375rem;
}

.status {
  margin-top: 0.25rem;
}

.status code {
  color: var(--text-color);
}
