.container {
  position: relative;
  padding: 1rem 0;
  color: var(--primary-text-color);
  cursor: pointer;
  border-radius: 0.625rem;
  font-size: var(--text-base);
  line-height: var(--leading-tight);
}

.container:hover {
  background: var(--secondary-bg-color);
}

.container:focus {
  z-index: 1;
  outline: none;
  box-shadow: var(--focus-ring);
}

.container_isSelected {
  background: var(--tertiary-bg-color) !important;
}

.container > * {
  padding-left: 2rem;
  padding-right: 1rem;
}

.name {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 0.5rem;
  font-size: var(--text-base);
}

.icon {
  margin-right: 0.5rem;
  color: var(--tertiary-text-color);
  font-size: 1rem;
}

.container_ACTIVE .icon,
.container_ANY_ACTIVE .icon {
  color: var(--success-color);
}

.container_ANY_CLOSED .icon,
.container_CLOSED .icon,
.container_DISABLED .icon {
  color: var(--danger-color);
}

.metadata {
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: var(--text-sm);
}

.metadataGroup {
  display: flex;
}

.metadataGroup + .metadataGroup {
  margin-top: 0.25rem;
}

.metadataTerm {
  margin: 0 0.5rem 0 0;
  padding: 0;
  color: var(--secondary-text-color);
}

.metadataTerm::after {
  content: ':';
}

.metadataDefinition {
  margin: 0;
  padding: 0;
}

.metadataGroup_important .metadataDefinition {
  font-weight: 700;
  color: var(--primary-color);
}

.metadataDefinition_canCopy {
  cursor: copy;
}

.metadataDefinition_canCopy:focus {
  border-radius: 0.25rem;
  outline: none;
  box-shadow: var(--focus-ring);
}

.metadataDefinition_canCopy:hover {
  color: var(--secondary-text-color);
}

.metadataDefinition_canCopy > :global(.svg-inline--fa) {
  margin-left: 0.25rem;
  line-height: 1;
  color: var(--secondary-text-color);
}
