@import '~draft-components/dist/scss/abstracts/variables';

.container {
}

.header {
  padding-bottom: $gap-2x;
}

.toolbar {
  margin-top: $gap-2x;
}

.content {
}

.items {
  margin: 0;
  padding: 0;
}

.items > * {
  padding: $gap-1x 0;
  border-bottom: 0.0625rem solid var(--border-color);
}
