@import '~draft-components/dist/scss/abstracts/variables';

.wrapper {
  min-width: 64rem;
}

.sidebar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

.mainContent {
  position: relative;
  padding-top: var(--header-height);
  padding-left: 0;
  will-change: padding-left;
}

.header {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
  will-change: max-width;
}

.isSidebarOpen .sidebar {
  transform: translateX(0);
}

.isSidebarOpen .header {
  max-width: calc(100% - var(--sidebar-width));
}

.isSidebarOpen .mainContent {
  padding-left: var(--sidebar-width);
}
