@import '~draft-components/dist/scss/abstracts/variables';

.container {
  display: inline-flex;
  align-items: center;
}

.indicator {
  display: inline-block;
  flex-shrink: 0;
  width: 0.5rem;
  height: 0.5rem;
  margin-right: $gap-2x;
  border-radius: 50%;
  background: lightgray;
}

.indicator_active {
  background-color: $green-500;
}

.indicator_delete {
  background-color: $red-500;
}

.indicator_archived {
  background-color: $orange-500;
}

.status {
  margin-right: $gap-2x;
  color: var(--secondary-text-color);
  font-family: $font-sans-serif;
  font-size: $font-size-base;
}

.switch {
}
