.container {
}

.adsList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.adsList > * + * {
  margin-top: 3rem;
  padding-top: 2rem;
  border-top: 0.0625rem solid var(--secondary-divide-color);
}

.comments {
  margin-top: 2rem;
}
