.title {
  padding: 0 0.125rem;
}

.list {
  display: flex;
  align-items: stretch;
  overflow-x: auto;
  margin: 0.8125rem -0.1875rem -0.1875rem;
  padding: 0.1875rem;
  list-style: none;
}

.list > * {
  flex-shrink: 0;
}

.list > * + * {
  margin-left: 1.25rem;
}
