@import '~draft-components/dist/scss/abstracts/variables';

.wrapper {
  border-radius: $border-radius-md;
}

.label {
  display: inline-flex;
  align-items: center;
}

.labelText {
  margin-left: $gap-2x;
}
