.container {
  display: flex;
  color: var(--primary-text-color);
  border-top: 0.0625rem solid var(--tertiary-divide-color);
}

.container > * {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container > *:first-child {
  flex: 0 0 32%;
  padding-right: 1rem;
  padding-left: 0;
  border-right: 0.0625rem solid var(--tertiary-divide-color);
}

.container > *:last-child {
  flex: 0 0 68%;
  padding-right: 1rem;
  padding-left: 1rem;
}

.adAccountsTitle,
.adsTitle {
  margin-bottom: 1.5rem;
}

.downloadLink {
  margin-left: 0.5rem;
  padding: 0 0.25rem;
  color: var(--secondary-text-color);
}

.adsContents {
  position: sticky;
  top: 1rem;
}

.noAds {
  padding-top: 6rem;
}
