.container {
  position: relative;
  width: 100%;
}

.toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 2rem;
  padding: 0 1rem;
  transition: var(--transition);
  transition-property: background-color, box-shadow;
  cursor: pointer;
  color: var(--primary-text-color);
  border: 1px solid var(--quaternary-divide-color);
  border-radius: 1rem;
  background: var(--secondary-bg-color);
  box-shadow: var(--shadow-sm);
  font-size: var(--text-sm);
  font-weight: 500;
  line-height: 1;
  appearance: none;
}

.toggle:focus {
  outline: none;
  box-shadow: var(--shadow-sm), var(--focus-ring);
}

.toggle:hover {
  background: var(--primary-bg-color);
}

.toggleIcon {
  margin-left: 0.5rem;
  transform: translateY(0.0625rem);
  color: var(--secondary-text-color);
  font-size: 0.75em;
}

.commentsList {
  margin-top: 1rem;
}
