@import '~draft-components/dist/scss/abstracts/variables';

.layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: var(--header-height);
  padding: 0 $gap-4x;
  background: var(--primary-bg-color);
}

.layout.isBordered {
  box-shadow: 0 0 0 0.0625rem var(--border-color);
}

.left {
  padding-left: $gap-4x;
}

.right {
  padding-right: $gap-4x;
}

.content {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 0 $gap-4x;
}
