@import '~draft-components/dist/scss/abstracts/variables';

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 100%;
  height: var(--header-height);
  padding: 0 $gap-4x;
  background: var(--primary-bg-color);
}

.isBordered {
  box-shadow: 0 0 0 0.0625rem var(--border-color);
}

.sidebarSwitch {
  margin-right: $gap-4x;
}

.tokenField {
  max-width: 52rem;
  margin: 0 auto;
}
