@import '~draft-components/dist/scss/abstracts/variables';

.campaignList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.campaignList > * {
  text-align: center;
}

.campaignList > * > * {
  display: inline-block;
}

.campaignList > * + * {
  margin-top: $gap-4x;
}
