:root {
  --input-bg-color: var(--tertiary-bg-color);
  --input-focus-bg-color: var(--primary-bg-color);
  --input-disabled-bg-color: var(--secondary-bg-color);
}

.label {
  display: inline-block;
  margin-bottom: 0.25rem;
  color: var(--primary-text-color);
  font-weight: 700;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 2.625rem;
}

.input {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  transition-property: background-color, border-top-color, border-right-color,
    border-bottom-color, border-left-color;
  transition-duration: 150ms;
  transition-timing-function: ease;
  color: var(--primary-text-color);
  border: 0.0625rem solid var(--divide-transparent);
  border-radius: 0.5rem;
  background: var(--tertiary-bg-color);
  font-size: 1rem;
  appearance: none;
}

.input::placeholder {
  color: inherit;
}

.input:focus {
  outline: none;
  border-color: var(--primary-color);
  background: var(--primary-bg-color);
  box-shadow: var(--focus-ring);
}

.input:disabled {
  cursor: not-allowed;
  background: var(--secondary-bg-color);
}

.spinnerIcon {
}
