@import '~draft-components/dist/scss/abstracts/variables';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-height: calc(100vh - var(--header-height));
  padding: $gap-4x;
}
