.container {
  display: flex;
  flex-direction: column;
  max-width: 80rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 1rem;
}

.container > * {
  margin-top: 2rem;
}

.accessToken {
}

.tokenHelp {
  margin-top: 0.5rem;
}

.savedUsers {
}

.loader {
}

.error {
}

.adAccounts {
  flex: 1;
}
