:root {
  --gray-100: #f7fafc;
  --gray-200: #edf2f7;
  --gray-300: #e2e8f0;
  --gray-400: #cbd5e0;
  --gray-500: #a0aec0;
  --gray-600: #718096;
  --gray-700: #4a5568;
  --gray-800: #2d3748;
  --gray-900: #1a202c;

  --blue-500: #4aa4e3;
  --green-500: #5ec169;
  --red-500: #eb4d3d;
  --orange-500: #e87935;

  --primary-color: var(--blue-500);
  --success-color: var(--green-500);
  --danger-color: var(--red-500);
  --warning-color: var(--orange-500);

  --primary-bg-color: white;
  --secondary-bg-color: var(--gray-100);
  --tertiary-bg-color: var(--gray-200);
  --quaternary-bg-color: var(--gray-300);

  --primary-text-color: var(--gray-900);
  --secondary-text-color: var(--gray-700);
  --tertiary-text-color: var(--gray-500);

  --focus-ring-color: rgba(0, 125, 250, 0.3);
  --focus-ring: 0 0 0 3px var(--focus-ring-color);

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;

  --leading-none: 1;
  --leading-tight: 1.25;
  --leading-snug: 1.375;
  --leading-normal: 1.5;

  --shadow-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  --divide-transparent: transparent;
  --divide-current: currentColor;
  --primary-divide-color: var(--gray-100);
  --secondary-divide-color: var(--gray-200);
  --tertiary-divide-color: var(--gray-300);
  --quaternary-divide-color: var(--gray-400);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-bg-color: var(--gray-900);
    --secondary-bg-color: var(--gray-800);
    --tertiary-bg-color: var(--gray-700);
    --quaternary-bg-color: var(--gray-600);

    --primary-text-color: var(--gray-100);
    --secondary-text-color: var(--gray-300);

    --focus-ring: 0 0 0 3px rgba(122, 173, 245, 0.55);

    --shadow-xs: 0 0 0 1px rgba(255, 255, 255, 0.05);
    --shadow-sm: 0 1px 2px 0 rgba(255, 255, 255, 0.05);
    --shadow: 0 1px 3px 0 rgba(255, 255, 255, 0.1),
      0 1px 2px 0 rgba(255, 255, 255, 0.06);
    --shadow-md: 0 4px 6px -1px rgba(255, 255, 255, 0.1),
      0 2px 4px -1px rgba(255, 255, 255, 0.06);
    --shadow-lg: 0 10px 15px -3px rgba(255, 255, 255, 0.1),
      0 4px 6px -2px rgba(255, 255, 255, 0.05);
    --shadow-xl: 0 20px 25px -5px rgba(255, 255, 255, 0.1),
      0 10px 10px -5px rgba(255, 255, 255, 0.04);

    --primary-divide-color: var(--gray-800);
    --secondary-divide-color: var(--gray-700);
    --tertiary-divide-color: var(--gray-600);
    --quaternary-divide-color: var(--gray-500);
  }
}
